.homeButton {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
	cursor: pointer;
	transition: transform 0.2s ease;
	display: block;
}

.homeButton:hover {
	transform: scale(1.05);
}

.homeButtonImage {
	width: clamp(100px, 18vw, 260px);
	height: auto;
	display: block;
}
